name: Android CI

on:
  push:
    branches: [ "*" ] # El asterisco significa "ejecutarse en cualquier rama"
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    name: Build Debug APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Este paso compila la app en modo Debug para ver si hay errores
      - name: Build with Gradle
        run: ./gradlew assembleDebug --stacktrace

      # Opcional: Esto sube el APK generado a GitHub para que lo puedas descargar
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk